* {
    background-color: rgba(200, 200, 245, 0.651);
    font-family: cursive;
}

button {
    background-color: blueviolet;
}

#Header {
    font-size: 30px;
}

#Header button {
    background-color: aqua;
}

#Header .Button-1 {
    background-color: cadetblue;
}

#Header #Ads {
    background-color: brown;
}